export(add.design.data)
export(adjust.chat)
export(adjust.parameter.count)
export(adjust.value)
export(cleanup)
export(coef.mark)
export(collect.models)
export(compute.real)
export(compute.Sn)
export(convert.inp)
export(covariate.predictions)
export(create.model.list)
export(deltamethod.special)
export(export.chdata)
export(export.MARK)
export(export.model)
export(extract.indices)
export(fill.covariates)
export(find.covariates)
export(get.real)
export(import.chdata)
export(logitCI)
export(make.design.data)
export(make.mark.model)
export(make.time.factor)
export(mark)
export(mark.wrapper)
export(merge.mark)
export(merge_design.covariates)
export(model.average)
export(model.table)
export(nat.surv)
export(PIMS)
export(pop.est)
export(popan.derived)
export(print.mark)
export(print.marklist)
export(print.summary.mark)
export(process.data)
export(release.gof)
export(remove.mark)
export(rerun.mark)
export(run.mark.model)
export(run.models)
export(search.output.files)
export(store)
export(summary.mark)
export(summary_ch)
export(TransitionMatrix)
export(var.components)
export(var.components.reml)
import(msm)
import(nlme)
S3method(coef,mark)
S3method(model.average,list)
S3method(model.average,marklist)
S3method(print,summary.mark)
S3method(summary,mark)
